* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
span,
input,
img,
select,
div,
button,
svg {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
